<div class="col">
  <div class="card" style="width: 18rem;">
    <img src="{{ vich_uploader_asset(product, 'imageFile') }}" class="card-img-top" alt="{{ product.name }}">
    <div class="d-inline-flex card-body">
      <div class="col">
        <p class="card-text --bs-emphasis-color">Nom : {{ product.name }}</p>
        <p class="card-text">Prix : {{ product.price }}€</p>
      </div>
      <div class="col d-flex justify-content-end align-items-center">
        {% if is_granted('ROLE_USER') %}
          <a class="btn border border-black product-btn" href="{{path('app_product_detail', {id: product.id})}}">Voir</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
