{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="d-flex justify-content-center my-5">
    <div class="border border-black">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <div class="border-bottom border-primary-subtle p-1 mx-2">
            <p>S'inscrire</p>
        </div>
        <div class="p-2">
            {{ form_start(registrationForm) }}
            {{ form_errors(registrationForm) }}
            <div class="p-2">
                {{ form_row(registrationForm.name)  }}
                {{ form_row(registrationForm.email) }}
            </div>
            <div class="p-3 mb-3">
                {{ form_row(registrationForm.adress)}}
            </div>
            <div class="p-2 mt-3 border-bottom border-primary-subtle">
                <div class="p-2">
                    {{ form_row(registrationForm.plainPassword.first) }}                </div>
                <div class="p-2">
                    {{ form_row(registrationForm.plainPassword.second) }}
                </div>
                <button class="btn border border-black p-2" type="submit" id="submitButton" >
                    Créer un compte
                </button></br>
                {{ form_end(registrationForm) }}
            </div>
            <div class="py-3 px-2">
                <label for="inputBtn">Déjà inscrit ?</label></br>
                <a class="btn border border-black" href="{{ path('app_login')}}">Se Connecter</a>
            </div>     
        </div>
    </div>
</div>
{% endblock %}

