<form method="post" action="{{ path('admin_product_edit', {id: product.id}) }}">
    <div class="card mb-3 d-flex flex-column">
        {{ form_start(edit_forms[product.id]) }}
            <div class="row g-0">
                <!-- Image du produit -->
                <div class="col-md-3 p-2">
                    <img class="img-xsmall" src="{{ asset('images/' ~ product.image) }}" alt="{{ product.name }}">
                    <p>{{ form_row(edit_forms[product.id].is_featured) }}</p>
                </div>

                <!-- Détails du produit -->
                <div class="col-md-8">
                    <div class="card-body d-flex flex-column">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>{{ form_row(edit_forms[product.id].name) }}</td>
                                    <td>{{ form_row(edit_forms[product.id].price) }}</td>
                                    <td>{{ form_row(edit_forms[product.id].stockXS) }}</td>
                                    <td>{{ form_row(edit_forms[product.id].stockS) }}</td>
                                    <td>{{ form_row(edit_forms[product.id].stockM) }}</td>
                                    <td>{{ form_row(edit_forms[product.id].stockL) }}</td>
                                    <td>{{ form_row(edit_forms[product.id].stockXL) }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="mt-auto d-flex justify-content-end">
                            <a class="btn border border-black uniform-size m-2" href="{{path('admin_product_delete', {id: product.id})}}">SUPPRIMER</a>
                            <button class="btn border border-black uniform-size m-2" type="submit">MODIFIER</button>                 
                        </div>
                    </div>
                </div>
            </div>
        {{ form_end(edit_forms[product.id]) }}
    </div>
</form>