<form method="post" action="{{ path('admin_product_add')}}">   
   <div class="card mb-3 d-flex flex-column">
        {{ form_start(form) }}
        <div class="row g-0">
            <!-- Image du produit -->
            <div class="col-md-3 p-2">
                {% if form.image.vars.value is not empty %}
                    <!-- Affiche l'image enregistrée si elle existe -->
                    <img class="img-xsmall" src="{{ asset('images/' ~ form.image.vars.value) }}" class="card-img-top img-small" alt="{{ form.name.vars.value }}">
                {% else %}
                    <!-- Affiche le champ pour télécharger une image si l'image n'existe pas encore -->
                    <p>{{ form_row(form.image) }}</p>
                {% endif %}
            </div>

            <!-- Détails du produit -->
            <div class="col-md-8">
                <div class="card-body d-flex flex-column">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td>{{ form_row(form.name) }}</td>
                                <td>{{ form_row(form.price) }}</td>
                                <td>{{ form_row(form.stockXS) }}</td>
                                <td>{{ form_row(form.stockS) }}</td>
                                <td>{{ form_row(form.stockM) }}</td>
                                <td>{{ form_row(form.stockL) }}</td>
                                <td>{{ form_row(form.stockXL) }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mt-auto d-flex justify-content-end">
                        <button type="submit" class="btn border border-black uniform-size">{{ button_label }}</button>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</form>